@font-face {
  font-family: "Digital-7";
  src: url(digital-7.ttf);
}

:root {
  --ledColor: #63e2f0;
  --defaultFonts: "Digital-7", Arial, Helvetica, sans-serif;
  --stopWatchColor: #222222;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: #222222;
  border-radius: 50% 50% 20% 20%;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.stopwatch--screen {
  width: 80%;
  height: 170px;
  background-color: black;
  box-shadow: inset 0 0 50px rgba(99, 226, 240, 0.3);
  border-radius: 30px;
  margin-top: 130px;
  font-family: var(--defaultFonts);
  position: relative;
}

.stopwatch--screenText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stopwatch--screenTime {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--ledColor);
  font-size: 60px;
  margin-top: 45px;
  margin-bottom: 10px;
}

.stopwatch--time.count {
  position: inline;
  width: 170px;
}

.stopwatch--screenStatus {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  bottom: 20px;
  font-size: 20px;
  color: var(--ledColor);
  text-transform: uppercase;
  text-align: center;
}

.stopwatch--buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 60px;
}

.stopwatch--startButton,
.stopwatch--resetButton,
.stopwatch--stopButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #cccccc;
  border-radius: 50%;
  text-transform: uppercase;
  font-family: var(--defaultFonts);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.side-button--main {
  position: absolute;
  transform: rotate(-45deg);
  cursor: pointer;
  margin-right: 370px;
  margin-top: 50px;
}

.side-button {
  height: 30px;
  width: 30px;
  transform: translateY(20%);
  background-color: var(--stopWatchColor);
  border-radius: 7px 7px 0 0;
  z-index: -1;
  transition: all ease-in-out 0.2s;
}

.button-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 37px;
  border-radius: 5px 5px 0 0;
  height: 5px;
  background-color: #000000;
}
